#navMenu {
    position: absolute;
}
#searchBox {
    height: 39px;
}
#searchBtn {
    height: 39px;
}
#searchInput {
    border-right: 1px solid lightgrey;
}
.delete-tweet {
    height: 33px
  }

.main {
    background-color: #c0deed;
    min-height: 100vh;
}

#bgImg {
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100vh;
    //position: fixed;
}
.tweetImage {
    border-radius: 10px !important;
    width: 30px !important; 
    height: 30px !important; 
    object-fit: cover !important;
    object-position: 50% 50% !important; 
    border: 1px solid #1b367073 !important;
}